// mobile
.tooltip-outer {
  display: block;
  height: 16px;
}
.tooltip-content {
  font-size: 14px;
  color: var(--color-muted);
  display: block;
  line-height: 18px;
}

// desktop
// nothing adds this class right now so this style is not used
.tooltip-enabled {
  @media only screen and (min-width: 601px) {
    .tooltip-content {
      font-size: 14px;
      color: var(--color-base-content);
      background-color: var(--color-base-bg);
      padding: 4px;
      margin-left: 16px;
      width: 540px;

      display: inline-block;
    }

    .tooltip-outer {
      height: 16px;
      display: inline-block;
      line-height: initial;
    }
    .tooltip-hidden {
      // equivalent to .sr-only
      // so tooltip remains shown for screen reader users
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }
}
