<!DOCTYPE html>
<head>
  {{{meta_tags}}}  
  <meta name="description" content="{{{meta_description}}}"/>
  <link rel="canonical" href="https://jamesfriend.com.au/{{{post.slug}}}"/>
  <title>{{{post.title}}} | James Friend
  </title>
  {{{common_css}}}
  {{{preload_js}}}
</head>
<body class="page-post-full"> 

    <div class="content post-header">
      {{{header}}}
    </div>
    <div id="main" class="content two-col">
      <article class="main-col">
        <h1 class="title" id="page-title"> {{{post.title}}} 
        </h1>
        <div about="/{{{post.slug}}}">
          <div class="submitted">
            Posted by {{post.author}} on {{{post.created_human}}}
          </div>
          <div class="post-body">
            {{{post.body}}}
          </div>

          <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "Article",
            "mainEntityOfPage": {
              "@type": "WebPage",
              "@id": "https://jamesfriend.com.au/{{{post.slug}}}"
            },
            "headline": "{{{post.title}}}",
            "datePublished": "{{{post.created}}}", 
            "author": {
              "@type": "Person",
              "name": "James Friend"
            },
          }
          </script>
       
        </div>
      </article>

      {{{sidebar}}} 

    </div>
    {{{common_js}}}
  </body>
</html>
