<div id="post-{{post.id}}" class="post post-preview" about="/{{{post.slug}}}">
  <h3><a href="/{{{post.slug}}}">{{{post.title}}}</a></h3>
  <div class="submitted">
    <span content="{{post.created}}"
      >Posted by <span class="username">{{post.author}}</span> on
      {{post.created_human}}</span
    >
  </div>
  <div>
    {{{post.body_short}}}
  </div>

  <a href="/{{{post.slug}}}" rel="tag" title="{{{post.title}}}"
    >Read more<span class="sr-only"> about {{{post.title}}}</span></a
  >
</div>